# GameCube controller adapter (WUP-028) without root. Install, then replug the adapter:
# sudo cp 51-gamecube-adapter.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules
SUBSYSTEM=="usb", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="0337", TAG+="uaccess"
